doctype html
html(lan="es")
	head
		title Final
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" type="text/css" href="../estatico/Dise単o/bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet" type="text/css" href="../estatico/Dise単o/css/componets/background.css")
		block libs

	body
		div.window
			block content
		script(src="../estatico/Dise単o/bootstrap/js/jquery.js")
		script(src="../estatico/Dise単o/bootstrap/js/bootstrap.min.js")
		block libs_js